* {
    box-sizing: border-box;
    background-color: slategray;
}

table td {
	padding: 5px;
}
table tr:nth-child(even) {
  background-color: black;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table th {
  color: beige;
  background-color: lightblue;
}