<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Bank</title>
</head>
<body>
<div>
    <h2>Transaction ID: <span th:inline="text">[[${transactionId}]] ([[${transactionType}]])</span></h2>
    <div>
        <ul>
            <li>Date: <span th:text="${transactionDate}"></span></li>
            <li>Amount: <span th:text="${transactionAmount}"></span></li>
            <li>Description: <span th:text="${transactionDescription}"></span></li>
        </ul>
    </div>
</div>
</body>
</html>