<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>BoCC</title>
    <link rel="stylesheet" href="/css/transactions.css"/>
</head>
<body>
<header class="header">
    <h1 id="company-logo">BoCC <span id="wordmark">Bank of CodersCampus</span></h1>
</header>
<div th:unless="${transaction}" class="main-content">
    <div class="main-heading">
        <h2>Transaction History</h2>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Retailer</th>
            <th>Funds In</th>
            <th>Funds Out</th>
        </tr>
        <tr th:each="transaction : ${transactions}">
            <td id="td-id" class="td-data"><a
                    th:href="@{/transactions/{transactionId}(transactionId=${transaction.id})}"
                    href="/transactions/{transactionId}" th:text="${transaction.id}"></a></td>
            <td id="td-date" th:text="${transaction.date}"></td>
            <td class="td-data" th:text="${transaction.retailer}"></td>
            <td id="td-credit-amount" th:text="${transaction.type == 'C' ? transaction.amount: ''}"></td>
            <td id="td-debit-amount" th:text="${transaction.type == 'D' ? transaction.amount: ''}"></td>
        </tr>
    </table>
</div>
<div th:if="${transaction}" class="main-content">
        <div class="main-heading">
            <h2>Transaction ID: [[${transactionId}]] ([[${transaction.type == 'C' ? 'Credit' :
                'Debit'}]])</h2>
        </div>
        <table>
            <tr>
                <td>Date:</td>
                <td th:text="${transaction.date}"></td>
            </tr>
            <tr th:switch="${transaction.type}">
                <td>Amount:</td>
                <td th:case="'C'" style="color: green">+$[[${transaction.amount}]]</td>
                <td th:case="'D'" style="color: red">-$[[${transaction.amount}]]</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td id="td-description" th:text="${transaction.description}"></td>
            </tr>
        </table>
        <div>
            <button class="button-style"><a th:href="@{/transactions}">Back</a></button>
        </div>
    </div>
</body>
</html>